.education{
    background-color: lightgray;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}
.category{
    text-align: center;
}

.Date{
    text-align: right;
}

.experience{
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

.thesis{
    background-color: lightgray;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

#thesis_link{
    font-size: medium;
}

.publications{
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

.Contact{
    background-color: lightgray;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}


.rounded-circle{
    border-radius: 50%;
}

.top{
    padding-bottom: 50px;
}

.intro{
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}

.myself{
    text-align: justify;
   
}